div#main{
    width:50%;
    margin:auto;
    padding: 100px;
    align-items: center;
}
.center{
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.inputbox{
    border-width: 1px;
    border-radius:12px;
    width:65%;
    height: 30px;
    font-size: 20px;
}
.logo{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 13px;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}
div #button{
    width:30%;
    margin-right:auto;
    margin-left:auto;
    height:50px;

}
label{
    display: none;
}