body {
    margin: 0;
}
div#main{
    width:50%;
    margin:auto;
    padding: 100px;
    align-items: center;
}
.center{
    margin-bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.inputbox{
    border-width: 2px;
    border-radius:15px;
    width:65%;
    height: 40px;
    font-size: 22pt;
}
.logo{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
div #button{
    width:30%;
    margin-right:auto;
    margin-left:auto;
    height:50px;
}
label{
    display: none;
}